In [1]:
#features having many categories/ high cardinality(high no of labels)
import pandas as pd
import numpy as np

In [2]:
dataset="https://raw.githubusercontent.com/subhadipml/Mercedes-Benz-Greener-Manufacturing/master/train.csv"
df=pd.read_csv(dataset,usecols=['X1','X2'])

In [3]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [4]:
df.shape

(4209, 2)

In [7]:
#one hot encoding
pd.get_dummies(df).shape #dimensions are increased

(4209, 71)

In [8]:
len(df['X1'].unique())

27

In [9]:
len(df['X2'].unique())

44

In [10]:
#how many lables
for col in df.columns[0:]:
  print(col,': ',len(df[col].unique()),' labels')

X1 :  27  labels
X2 :  44  labels

In [13]:
#count of each variable in X2
#to dictionary for remapping the lables
df_frequency_map = df['X2'].value_counts().to_dict()

In [14]:
#replacing variables with the count
df['X2']=df['X2'].map(df_frequency_map)

In [15]:
df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137