## One Hot Encoding

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titanic.csv',usecols=['sex'])

In [4]:
pd.get_dummies(df).head()

   sex_female  sex_male
0           0         1
1           1         0
2           1         0
3           1         0
4           0         1

In [6]:
pd.get_dummies(df,drop_first=True).head() #n-1 columns

   sex_male
0         1
1         0
2         0
3         0
4         1

In [7]:
df = pd.read_csv('titanic.csv',usecols=['embarked'])

In [8]:
df['embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [9]:
df.dropna(inplace=True)

In [10]:
pd.get_dummies(df,drop_first=False).head()

   embarked_C  embarked_Q  embarked_S
0           0           0           1
1           1           0           0
2           0           0           1
3           0           0           1
4           0           0           1

In [11]:
pd.get_dummies(df,drop_first=True).head()

   embarked_Q  embarked_S
0           0           1
1           0           0
2           0           1
3           0           1
4           0           1

# For many categories

In [12]:
## One hot encoding for many categories
df= pd.read_csv('mercedes.csv',usecols=['X0','X1','X2','X3','X4','X5','X6'])

In [13]:
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [14]:
df['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
m      34
ai     34
e      32
ba     27
at     25
a      21
ax     19
am     18
aq     18
i      18
u      17
l      16
aw     16
ad     14
au     11
b      11
k      11
r      10
as     10
bc      6
ao      4
c       3
q       2
aa      2
ac      1
ab      1
g       1
Name: X0, dtype: int64

In [15]:
df['X0'].unique()

array(['k', 'az', 't', 'al', 'o', 'w', 'j', 'h', 's', 'n', 'ay', 'f', 'x',
       'y', 'aj', 'ak', 'am', 'z', 'q', 'at', 'ap', 'v', 'af', 'a', 'e',
       'ai', 'd', 'aq', 'c', 'aa', 'ba', 'as', 'i', 'r', 'b', 'ax', 'bc',
       'u', 'ad', 'au', 'm', 'l', 'aw', 'ao', 'ac', 'g', 'ab'],
      dtype=object)

In [16]:
len(df['X0'].unique())

47

In [19]:
for i in df.columns:
  print(len(df[i].unique()))

47
27
44
7
4
29
12

In [21]:
#kdd cup orange challenge 
# where they used ensemble techniques
#take 10 most frequent categories(apply in hot encoding)
df['X1'].value_counts().sort_values(ascending=False).head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [22]:
#getting indexes
lst10 = df['X1'].value_counts().sort_values(ascending=False).head(10).index

In [24]:
lst10 = list(lst10)

In [25]:
lst10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [28]:
#Apply one hot encoding for these 10 frequent categories only
import numpy as np
for categories in lst10:
  df[categories]=np.where(df['X1']==categories,1,0)

In [29]:
df.head()

   X0 X1  X2 X3 X4 X5 X6  aa  s  b  l  v  r  i  a  c  o
0   k  v  at  a  d  u  j   0  0  0  0  1  0  0  0  0  0
1   k  t  av  e  d  y  l   0  0  0  0  0  0  0  0  0  0
2  az  w   n  c  d  x  j   0  0  0  0  0  0  0  0  0  0
3  az  t   n  f  d  x  l   0  0  0  0  0  0  0  0  0  0
4  az  v   n  f  d  h  d   0  0  0  0  1  0  0  0  0  0

In [30]:
lst10.append('X1')

In [32]:
df[lst10]

      aa  s  b  l  v  r  i  a  c  o X1
0      0  0  0  0  1  0  0  0  0  0  v
1      0  0  0  0  0  0  0  0  0  0  t
2      0  0  0  0  0  0  0  0  0  0  w
3      0  0  0  0  0  0  0  0  0  0  t
4      0  0  0  0  1  0  0  0  0  0  v
...   .. .. .. .. .. .. .. .. .. .. ..
4204   0  1  0  0  0  0  0  0  0  0  s
4205   0  0  0  0  0  0  0  0  0  1  o
4206   0  0  0  0  1  0  0  0  0  0  v
4207   0  0  0  0  0  1  0  0  0  0  r
4208   0  0  0  0  0  1  0  0  0  0  r

[4209 rows x 11 columns]