In [1]:
# we can rank these categories #eg: salary based on degree
#student with grades A is higher than B or C

In [2]:
import pandas as pd
import datetime

In [5]:
df_base = datetime.datetime.today()
#list of dates with 20 days difference from today
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0,20)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df

                          day
0  2021-10-17 06:54:18.543698
1  2021-10-16 06:54:18.543698
2  2021-10-15 06:54:18.543698
3  2021-10-14 06:54:18.543698
4  2021-10-13 06:54:18.543698
5  2021-10-12 06:54:18.543698
6  2021-10-11 06:54:18.543698
7  2021-10-10 06:54:18.543698
8  2021-10-09 06:54:18.543698
9  2021-10-08 06:54:18.543698
10 2021-10-07 06:54:18.543698
11 2021-10-06 06:54:18.543698
12 2021-10-05 06:54:18.543698
13 2021-10-04 06:54:18.543698
14 2021-10-03 06:54:18.543698
15 2021-10-02 06:54:18.543698
16 2021-10-01 06:54:18.543698
17 2021-09-30 06:54:18.543698
18 2021-09-29 06:54:18.543698
19 2021-09-28 06:54:18.543698

In [7]:
#week day name
df['day_of_week']=df['day'].dt.day_name()
df.head()

                         day day_of_week
0 2021-10-17 06:54:18.543698      Sunday
1 2021-10-16 06:54:18.543698    Saturday
2 2021-10-15 06:54:18.543698      Friday
3 2021-10-14 06:54:18.543698    Thursday
4 2021-10-13 06:54:18.543698   Wednesday

In [8]:
#for ranking
# map categorica variable by ordinal number replacement
weekday_map = {
    'Monday':1,
    'Tuesday':2,
    'Wednesday':3,
    'Thursday':4,
    'Friday':5,
    'Saturday':6,
    'Sunday':7
    }
df['day_ordinal'] = df['day_of_week'].map(weekday_map)

In [9]:
df.head()

                         day day_of_week  day_ordinal
0 2021-10-17 06:54:18.543698      Sunday            7
1 2021-10-16 06:54:18.543698    Saturday            6
2 2021-10-15 06:54:18.543698      Friday            5
3 2021-10-14 06:54:18.543698    Thursday            4
4 2021-10-13 06:54:18.543698   Wednesday            3